<body>
    <section>
        <hi>home</hi>
        <form action="/auth/logout" method="POST">
            <button type="submit">
                Logout
            </button>
        </form>
    </section>
</body>



